{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "printWidth": 120,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/lib(?:/.*)?$",
    "^@/providers(?:/.*)?$",
    "^@/services(?:/.*)?$",
    "^@/types(?:/.*)?$",
    "^@/hooks(?:/.*)?$",
    "^@/utils(?:/.*)?$",
    "^@/components(?:/.*)?$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": false
}
